@media screen and (min-width: 1025px) {
    #navbar {
        position: fixed;
        left: 0px;
        width: 20em;
    }
    #navbar ul li{
        list-style-type: none;
        border: 1px solid black;
        padding: 10px;
        margin: 0;
    }
    .nav-link{
        text-decoration: none;
    }
}

main {
    position: absolute;
    right: 0%;
    width: 80em;
}